@font-face {
    font-family: Open_sans;
    src:url('/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: Roboto_Slab;
    src:url('/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}
@font-face {
    font-family: Sqaure_Peg;
    src:url('/fonts/Square_Peg/SquarePeg-Regular.ttf');
}
@font-face {
    font-family: Uchen;
    src:url('/fonts/Uchen/Uchen-Regular.ttf');
}



